@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sk-Modernist";
  font-weight: 400;
  src: url("../../public/fonts/sk-modernist-regular.ttf") format("woff2");
}
@font-face {
  font-family: "Sk-Modernist";
  font-weight: 700;
  src: url("../../public/fonts/sk-Modernist-Bold.ttf") format("woff2");
}
@font-face {
  font-family: "Satoshi";
  font-weight: 700;
  src: url("../../public/fonts/satoshi-Regular.ttf") format("woff2");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Sk-Modernist";
}

/* Custom Swiper Pagination Styles */
.product-pagination .swiper-pagination-bullet {
  width: 18px; /* Custom size */
  height: 18px;
  background-color: white; /* Custom bullet color */
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.product-pagination .swiper-pagination-bullet-active {
  background-color: #0037ff; /* Active bullet color */
  width: 18px; /* Increase size for active bullet */
  height: 18px;
  opacity: 1;
}
/* 
@media (max-width: 1150px) {
  .imageCard {
    flex-direction: column;
  }
} */
